<!-- admin.ejs -->

<!DOCTYPE html>
<html>

<head>
</head>

<body>
    <h1>Admin Page</h1>
    <form action="/deleteAllUsers" method="DELETE">
        <button type="submit" name="deleteUsers">Delete All Users</button>
    </form>
    <form action="/deleteAllTodos" method="DELETE">
        <button type="submit" name="deleteTodos">Delete All Todos</button>
    </form>
</body>

</html>